<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('./partials/nav') %> 
    <h1>Welcome!</h1>

    <% if(locals.currentUser) { %>
        Welcome <%=user.first_name %>
        <% }else{ %> 
    <p>Already a member? Sign in 
        <a href="/users/signin/">here</a>
        First time visitor? Sign up 
        <a href="/users/signup/">here</a>
    </p>
    <% } %>

    <div class="messages"></div>
    <h2>Messages:</h2>
        <% if(messages && messages.length > 0){ %>
            <% messages.forEach(message => { %>
                <div class="message" id="<%= message.id %>">
                    <div class="message_header">
                        <span>Title: <%= message.title %></span>
                        <% if(locals.currentUser){ %>
                            <span>Author:
                                <a href="<%= `/users/${message.user_id}` %>">
                                     <%= `${message.first_name} ${message.last_name}` %>
                                </a>
                            </span> 
                            <span title="<%= date.longDate(message.created_at) %>">
                                Date: <%= date.shortDate(message.created_at) %>
                            </span> 
                            <% } %>
                    </div>

                    <div class="message_body">
                        <p><%= message.text %></p>
                    </div>
                </div>
           <% }) %>     
        <%} else { %>
            <p>No messages to display</p>
            <% } %>

</body>
</html>